

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: linear-gradient(90deg, rgb(7, 19, 68), rgb(12, 70, 91));
}

#banner {
    width: 100%;
    height: 385px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-image: "../imgs/banner.png";
    opacity: 70%;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    overflow: hidden;
}

#banner-gradient{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    place-items: center;
}

#banner-conteudo {
    text-align: center;
    margin-top: 200px;
}

#banner-conteudo h1 {
    color: antiquewhite;
    font-weight: 500;
    font-size: 60px;
}

@media (max-width: 768px) {
    #banner-conteudo h1 {
        font-size: 30px;
    }
}

#banner-conteudo h2 {
    color: blanchedalmond;
    font-weight: 400;
    font-size: 16px;
    margin-top: 20px;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: 0.3s ease-in-out;
}

#navbar {
    display: flex;
    justify-content: center;
    place-items: center;
    flex-wrap: wrap;
    background-color: transparent;
    width: 100%;
    margin: auto;
    padding: 8px;
}

#logo {
    display: flex;
    width: 30%;
    height: auto;
}

#logo:hover {
    animation: scale 2s infinite;
}

@keyframes scale {
  0% {
    scale: calc(1);
  }
  50% {
    scale: calc(1.1);
  }
  100% {
    scale: calc(1);
  }
}

ul {
    display: flex;
    list-style: none;
}

#navbar-text .dropbtn {
    background: none;
    border: none;
    color: wheat;
    font-weight: 500;
    font-size: 18px;
    margin-right: 100px;
    text-decoration: none;
    transition: .4s ease-in-out;
}

#navbar-text .dropbtn:hover {
    color: yellow;
}

@media (max-width: 768px) {
    #navbar-text .dropbtn {
        margin-right: 20px;
    }
}

#dropdown {
    overflow: hidden;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 22%;
    transform: translateX(-50%);
    z-index: 333;
}

@media (max-width: 768px) {
    .dropdown-content {
        left: 40%;
    }
}
.dropdown-content .droptxt {
    display: block;
    text-align: center;
    text-decoration: none;
    color: wheat;
    font-weight: 500;
    font-size: 11px;
    transition: .4s ease-in-out;
    margin-top: 5%;
    background: rgba(4, 4, 41, 0.75);
    border: 4px solid #297fb962;
    padding: 8px 5px;
    border-radius: 50px;
    z-index: 333;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content .droptxt:hover {
    color: yellow;
    border: 4px solid rgba(250, 250, 62, 0.441);
    transition: 200ms ease-in-out;
    box-shadow: 0 0 10px rgba(255, 255, 100, 0.6)
}

.marcas {
  position: absolute;
  overflow: hidden;
  top: 325px;
  left: 26%;
  white-space: nowrap;
  width: 50%;
  height: auto;
}


.marcas-slide {
  display: flex;
  animation: slide 10s linear infinite;
  flex-wrap: nowrap;
  width: max-content;
}

.marcas-slide img {
  width: auto;
  height: 33px;
  margin: 0 20px;
}

.marcas:hover .marcas-slide {
  animation-play-state: paused;
}

@keyframes slide {
  from{
    transform: translate(0);
  }
  to {
    transform: translate(-50%);
  }
}

#conteudo {
    margin-top: 60px;
}

#counteudo-1 {
    padding: 5px;
    width: 65%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    place-items: center;
    flex-direction: column;
}

.counteudo-heading {
    color: wheat;
    font-size: 40px;
    font-weight: 500;
}

.border-line {
    border: 2px solid rgb(188, 31, 3);
    width: 100px;
    border-radius: 20px;
    margin-top: 27px;
    margin-bottom: 27px;
}

.conteudo-texto {
    margin-bottom: 10%;
    font-family: 'Poppins';
    color: gold;
    font-size: 16px;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .conteudo-texto {
        margin-bottom: 35%;
    }
}

.conteudo-texto a {
    margin-bottom: 5%;
    font-family: 'Poppins';
    color: gold;
    font-size: 16px;
    line-height: 1.5;
}

.conteudo-texto a:hover {
    color: aquamarine;
}

#conteudo-2 {
    padding: 5px;
    width: 400px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    place-items: center;
    flex-direction: column;
}

@media (max-width: 768px) {
    #conteudo-2 {
        width: 300px;
        height: auto;
    }
}

button.carousel-control-next, button.carousel-control-prev { 
    background-color: rgba(24, 73, 110, 0.45);
    opacity: 10%;
    height: 50%;
    width: 10%;
    top: 25%;
    border-radius: 150px;
}

.carousel-item img {
    opacity: 70%;
    object-fit: cover;
    border-radius: 150px;
    margin: auto;
    display: block;
}

.mapa {
    width: 100%;
    height: auto;
    opacity: 70%;
}

.mapa:hover {
    animation: scale 2s infinite;
}

@media (max-width: 768px) {
    .video {
        width: 350px;
        height: 350px;
    }
}